/*--------------- mod_article_category responsive tab accordion code--------------*/
  .wtk-acc-tabs .nav-tabs 
  {
      display:none;
      border-bottom:none;
  }
  
  .wtk-acc-tabs .nav-item
  {
      margin-right:1px;
  }
  
  .wtk-acc-tabs .tab-content
	{
	border: 1px solid var(--wtk-primary);
	border-bottom-right-radius:.5rem;
	border-bottom-left-radius:.5rem;
	padding: .5rem!important;
	}
	.wtk-acc-tabs .contactus-card .card-body{
	min-height:150px!important;
	}


@media(max-width:768px) {

.wtk-acc-tabs .tab-content
	{
	border: none!important;
	padding: 0rem!important;
	}
}

 @media(min-width:768px) {
      .wtk-acc-tabs .nav-tabs {
          display: flex;
      }
      .wtk-acc-tabs .card {
          border: none;
      }
      .wtk-acc-tabs .card .card-header {
          display:none;
      }  
      .wtk-acc-tabs .card .collapse{
          display:block;
      }
  }

  


/*========================= mod_article_category Headlines =============== added on 27-08-2020*/
/* OUTER CONTAINER */
.wtk-headline {
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
  font-size:18px;
}
 
.wtk-headline-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
  background-color: var(--wtk-secondary);
  color: #fff;
}
/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.wtk-headline-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 80s;
}
.wtk-headline-move:hover{
  animation-play-state: paused; /* Pause scroll on mouse hover */
}

/* ITEMS */
.wtk-headline-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 5px 2rem;
}

.wtk-headline-item a{
	color:#fff;	
}

.wtk-headline-title {
     background-color: var(--wtk-primary);
	 color:#fff;
    display: block;
    /* height: 20px; */
    width: 120px;
    font-size: 18px;
    position: absolute;
    top: -3px;
    margin-top: 0px;
    margin-left: 20px;
    padding: 8px 0;
    z-index: 3;
}
.wtk-headline-title:before {
    content: "";
    position: absolute;
    display: block;
    width: 15px;    
    top: 0px;
    left: -15px;
    border-left: 13px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 43px solid var(--wtk-primary);
  }
.wtk-headline-title:after {
    content:"";
    position: absolute;
    display: block;
    width: 15px;    
    right: -15px;
    top: 0;
    border-right:13px solid transparent;
    border-left: 0px solid transparent;
    border-top: 43px solid var(--wtk-primary);
  }
@media (max-width:769px){
	.wtk-headline, .wtk-headline-title {
		
		font-size:12px;
	}
	.wtk-headline-title {
		width: 80px;
		padding: 8px 0;
	}
	.wtk-headline-title:before{
		border-bottom: 34px solid var(--wtk-primary);
	}
	.wtk-headline-title:after{
		border-top: 34px solid var(--wtk-primary);
	}
}

.wtk-date{
	position:absolute;
	padding:5px;
	text-align:center;
	margin:0 5px 5px 0;
	background:var(--wtk-primary);
	color:#fff;
	bottom:0;
	right:0;
}

/*=========================mod_atricle_category Bootstrap tabs=============== added on 26-08-2020*/

.wtk-nav-tab .nav-link
{
	background-color:var(--wtk-secondary);
	color:#fff;
	border:none;
	border-right: 1px solid white;
}

.wtk-nav-tab .nav-link.active {
    color: #495057;
    background-color: var(--wtk-primary);
	border-right: 1px solid white;
}

/*-------------- This is category news article list---------------- */

.wtk-news-text{
	color:pink;
}
.wtk-news .wtk-news-title
{
	text-overflow: ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;
	line-height: 1.5;
	color:var(--wtk-primary)!important;
}

.wtk-news-title a{
	color:var(--wtk-primary)!important;
}
.wtk-news-title a:hover{
	color:var(--wtk-secondary)!important;
}

/*=========================mod_atricle_category Bootstrap Slider=============== added on 24-08-2020*/

.wtk-carousel-caption
{
	right: 10%!important;
    bottom: 20px!important;
    left: 10%!important;
	    top: auto!important;
	padding-top: 5px!important;
    padding-bottom: 5px!important;
	background:rgba(var(--op-color), 0.6)!important;
	transition: all ease .5s;
}
.wtk-carousel-caption:hover {
/* Contact Details Template Tabs CSS */
	background-color:rgba(var(--op-color-hover), 0.6)!important;
	margin-bottom:10px;
	cursor:pointer;
}


/*=========================mod_atricle_category Bootstrap Slider card=============== added on 24-08-2020*/

.marquee-wrapper{
  background:#2F394C;
  text-align:center;
}
.marquee-wrapper .container{
  overflow:hidden;
  margin:0 auto !important;
  text-align:center;
}
.marquee-inner span{
  height:50%;
}
.marquee-wrapper .marquee-block{
  width: 100%;
  height: 500px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 10px 0;
  /* background:#1B2531; */
  /* padding: 30px 0; */
  float:left;
}
.marquee-inner{
    display: block;
    height: 200%;
    width: 100%;
    position: absolute;
    /* margin: 20px 0; */
}
.marquee-item p{
  padding:10px;
}
.marquee-inner.to-left{
  animation: marqueeTop 25s linear infinite;
}
.marquee-inner.to-right{
  animation: marqueeBottom 25s linear infinite;
}
.marquee-item{
  display: block;
  margin:10px;
  transition: all .2s ease-out;
  background:#fff;
}
@keyframes marqueeTop{
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@keyframes marqueeBottom{
  0% { 
    top: -100%; 
  }
  100% {
   top: 0; 
  }
}

/* Contact Details Template Tabs CSS */
#myTabTabs
{
  margin-top: 25px;
  border-bottom: 1px solid var(--wtk-secondary);
}
#myTabTabs li
{
  
  padding:0 10px;  
  border: 1px solid var(--wtk-secondary);
  border-bottom: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#myTabTabs li.active
{
  /* padding:10px; */
  background-color:var(--wtk-secondary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}
#myTabTabs li.active a
{
  color: white;
}

#myTabTabs li a
{
   display: flex;
   padding: 10px 0;
   /* font-size: 20px; */
   font-weight: 600;
   color:var(--wtk-secondary);
}
#myTabTabs li a.active
{
  color:white;  
}

/* Contact Details Template Tabs CSS */



#slide-contact .accordion-heading a
{
  background-color: var(--wtk-primary);
  display: flex;
  color: #fff;
  padding: 0.5em;
  border-radius: 7px;
  border:1px solid #fff;
}
.accordion-heading a::after {
  width: 8px;
  height: 8px;
  /* border-right: 1px solid #4a6e78;
  border-bottom: 1px solid #4a6e78; */
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  right: 30px;
  margin-top: 8px;
  content: " ";
  /* top: 80px; */
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
}

.accordion-heading a.collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}



/* Calendar list - Source: https://codepen.io/elisabeth_hamel/pen/vKgKwR */
.calendar-list {
  width: 60px;
  height: 60px;
  border: 3px solid #216e69;
  border-top: 20px solid #216e69;
  position: relative;
  /*margin: 50px auto;*/
   font-family: sans-serif;
  text-align: center;
}
.calendar-list:before,
.calendar-list:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.calendar-list:after {
  bottom: -5px;
  right: -5px;
  border-width: 0 0 19px 19px;
  border-color: transparent transparent #fff transparent;
}
.calendar-list:before {
  bottom: -3px;
  right: -3px;
  border-width: 15px 15px 0 0;
  border-color: #216e69 transparent transparent transparent;
}
.month-list {
  position: absolute;
  top: -21px;
  left: 0;
  right: 0;
  color: #fff;
  text-transform: uppercase;
}
.day-list{
  display: block;
  margin: 5px 0 0;
  font-size: 20px;
  color: #216e69;
}
sup {
  position: relative;
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/*======================== mod_stats Awesome stats ========================*/

#counter {    
  color: #fff;
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 100px 0;
}
#counter .count {
  padding: 50px;
  background: #74E2FF;
  color: #fff;
  text-align: center;
}
.count h4 {
  color: #fff;
font-size: 16px;
margin-top: 0;
}
#counter .number {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}


/* calendar css source: http://codepen.io/chelovekov/pen/ayKAn */

.calendar {
  margin:.25em 10px 10px 0;
  padding-top:5px;
  float:left;
  width:80px;
  background:#ededef;
  background:-webkit-gradient(linear,left top,left bottom,from(#ededef),to(#ccc));
  background:-moz-linear-gradient(top,#ededef,#ccc);
  font:bold 30px/60px Arial Black,Arial,Helvetica,sans-serif;
  text-align:center;
  color:#000;
  text-shadow:#fff 0 1px 0;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  position:relative;
  -moz-box-shadow:0 2px 2px #888;
  -webkit-box-shadow:0 2px 2px #888;
  box-shadow:0 2px 2px #888
  }
  
  .calendar em {
  display:block;
  font:normal bold 11px/30px Arial,Helvetica,sans-serif;
  color:#fff;
  text-shadow:#00365a 0 -1px 0;
  background:#04599a;
  background:-webkit-gradient(linear,left top,left bottom,from(#04599a),to(#00365a));
  background:-moz-linear-gradient(top,#04599a,#00365a);
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
  border-top:1px solid #00365a
  }
  
  .calendar:before,.calendar:after {
  content:'';
  float:left;
  position:absolute;
  top:5px;
  width:8px;
  height:8px;
  background:#111;
  z-index:1;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  -moz-box-shadow:0 1px 1px #fff;
  -webkit-box-shadow:0 1px 1px #fff;
  box-shadow:0 1px 1px #fff
  }
  
  .calendar:before {
  left:11px
  }
  
  .calendar:after {
  right:11px
  }
  
  .calendar em:before,.calendar em:after {
  content:'';
  float:left;
  position:absolute;
  top:-5px;
  width:4px;
  height:14px;
  background:#dadada;
  background:-webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#aaa));
  background:-moz-linear-gradient(top,#f1f1f1,#aaa);
  z-index:2;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px
  }
  
  .calendar em:before {
  left:13px
  }
  
  .calendar em:after {
  right:13px
  }
  
  .maps-event {
  height: 400px;
  }

  /* ==================== mod_articles_category Features Box =============== */


  .features-boxed {
    color:#313437;
    background-color:#eef4f7;
  }
  .features-boxed p {
    color:#7d8285;
  }
  .features-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  @media (max-width:767px) {
    .features-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
	.wtk-acc-tabs .tab-pane {
          display: block !important;
          opacity: 1;
      } 
  }
  .features-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  .features-boxed .intro p {
    margin-bottom:0;
  }
  
  .features-boxed .features .box  {
    border:1px solid transparent;
  }
  
  .features-boxed .features .box:hover  {
    border:1px solid var(--wtk-secondary);
  }
  .features-boxed .item {
    /* text-align:center; */
  }
  .features-boxed .item .box {
    /* text-align:center; */
    padding:15px;
    background-color:#fff;
    /* margin-bottom:30px; */
	height: 100%;
  }
  .features-boxed .item .icon {
    font-size:60px;
    color:#1485ee;
    margin-top:20px;
    margin-bottom:35px;
  }
  .features-boxed .item .name {
    /* font-weight:bold; */
    font-size:18px;
    margin-bottom:8px;
    margin-top:0;
    /* color:#d4d4d4; */
	
  }
  .features-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }

  

  /* ============mod_articles_category  Job Portal  =================== */

  .wrapper {
    max-width: 90%;
    margin: 0 auto;
  }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  #job-board {
    width: 100%;
    position: relative;
    list-style: none;
    padding: 0;
  }
  #job-board:after {
    content: " ";
    width: 1px;
    background: 1px #d9dee9;
    height: 90%;
    position: absolute;
    top: 3em;
    left: 3em;
    z-index: 0;
  }
  #job-board a {
    text-decoration: none;
	color:var(--wtk-text);
  }
  #job-board .listing {
    background: #fff;
    border: 1px solid #d9dee9;
    border-radius: 0.3em;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
    display: table;
    width: 96%;
    transition: all 0.3s ease-in-out;
  }
  #job-board .listing img, #job-board .listing .info, #job-board .listing .job_type {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.9em;
    color: #9592ad;
  }
  #job-board .listing .image_wrapper {
    width: 100%;
  }
  #job-board .listing .image_wrapper img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 0.25em;
  }
  #job-board .listing .info {
    line-height: 1.25;
    width: 640px;
    padding: 0 25px;
  }
  #job-board .listing .info .job_title {
    font-weight: 700;
    color: #34314c;
    font-size: 1.5em;
  }
  #job-board .listing .info .job_info {
    color: #9592ad;
    display: block;
  }
  #job-board .listing .info .job_info span {
    margin: 0 0.75em;
  }
  #job-board .listing .job_type {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75em;
    position: relative;
    white-space: nowrap;
    padding-top: 0.6em;
    color: #fd7473;
  }
  /* #job-board .listing .job-type-box:after { */
    /* content: " "; */
    /* background: #fd7473; */
    /* width: 10px; */
    /* height: 10px; */
    /* border-radius: 100%; */
    /* position: absolute; */
    /* right: 15px; */
    /* top: 27px; */
  /* } */
  #job-board .listing:hover {
    /* cursor: pointer; */
    box-shadow: 0px 2px 40px 0 rgba(0, 0, 0, .1);
  }
  #job-board .date {
    display: inline-block;
    padding: 0.6em 0;
    width: 100px;
    background: #fff;
    border: 1px solid #d9dee9;
    border-radius: 3em;
    font-weight: 700;
    font-size: 0.75em;
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 1em 0 2em 0;
  }

  /* ================= mod_articles_category  Upcomming Events  ================= */

  .row-striped:nth-of-type(odd){
    background-color: rgba(var(--op-color-hover),0.3);
    border-left: 4px var(--wtk-secondary) solid;/* change color from #000000 on 16-09-2020	*/
	color: var(--wtk-text);
  }
  
  .row-striped:nth-of-type(even){
    background-color: rgba(var(--op-color),0.3);
    border-left: 4px #efefef solid;
	color: var(--wtk-text);
  }
  
  .row-striped {
      padding: 15px 0;
  }